  .login-btn{
    width: 14vw;
  } 

  .input-field{
    margin-left: 1vw;
    font-size: 15px;
  }
  
  .input-field mat-label {
    color: white;
    /* add label text color here */
  }
  
  .input-field .mat-input-element {
    color: white;
    /* add input text color here */
  }
  
  .input-field .mat-input-element::placeholder {
    color: white;
    /* add placeholder css here */
  }

  .register-link{
    color: white;
    cursor: pointer;
    float: left;
    font-size: medium;
    margin-top: 1.3vh;
  }

  .login-register-div{
    display:flex
  }

  .login-register{
    width: 50%;
  }